{% extends 'country_info/base.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {% for country in countrys %}
                <a href="{% url 'c_city' pk=country.pk %}">{{ country.title }}</a>
                <p>{{ country.text|linebreaksbr }}</p>
                {% endfor %}
            </td>
            <td>    
                <h1> city</h1>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Send</button>
                </form>
                {% for city in country.cities.all %}
                <strong>{{ city.title }}</strong>
                <p>{{ city.desc|linebreaks }}</p>
                {% empty %}
                <p>No city here yet :(</p>
                {% endfor %}
            </td>
        </tr>

</table>
{% endblock %}